@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');
:root {
  --primary-color: #bddee3;
  --secondary-color: #00474b;
  --tertiary-color: hsl(186, 14%, 43%);
  --font-primary-color: #35c1b1;
}
body {
  padding: 2px;
  max-width: 80%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: var(--primary-color);
  font-family: 'Space Mono', monospace;
}
div.body {
  margin: 0;
  text-align: center;
}
.container {
  text-align: center;
  overflow-x: hidden;

  width: 100%;
  height: 180%;
  padding: 2rem;
  background: white;
  border-radius: 20px;
  margin-left: 5vw;
}
h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 16px;
}
.calc {
  display: inline;
  width: 40%;
  margin: auto;
  padding: 1rem;
}
.res {
  color: white;
  padding: 1rem;
  width: 90%;
  background: var(--secondary-color);
  border-radius: 1.25rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type='number'] {
  -moz-appearance: textfield;
  border-style: none;
}
.attribution {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 20%;
}
span {
  color: var(--font-primary-color);
  font-size: 20px;
}
.buttons {
  margin: 3rem 0 3rem 0;
}
.inform {
  text-align: right;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  max-width: 70vw;
}
.info {
  text-align: center;
}
.info img {
  position: absolute;
  margin-left: 1rem;
  margin-top: 0.9rem;
}

p {
  text-align: left;
}
.quebra {
  color: #bddee3;
  font-size: 14px;
}

input {
  padding: 0.5rem;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background: #f3f8fb;
  width: 76vw;
}
#reset {
  width: 90%;
  height: 2.75rem;
  padding: 0.5rem;
  border-radius: 0.3125rem;
  background-color: var(--primary-color);
  font-size: 1rem;
  color: white;
  text-align: center;
  border: none;
  opacity: 0.3;
}
input.button {
  color: white;
  background: var(--secondary-color);
  border-radius: 4px;
  border: none;
  margin: 5px 5px;
  width: 25vw;
  height: 5vh;
  max-width: 100px;
}
.valor {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 2rem;
}
#custom {
  color: #6d8180;
  background: #f3f8fb;
  border-radius: 4px;
  border: none;
  width: 21vw;
  height: 3vh;
  max-width: 86px;
}

@media (min-width: 1200px) {
  body {
    margin: 0;
    font-weight: bold;
    overflow-y: hidden;
    overflow-x: hidden;
    background: var(--primary-color);
    font-family: 'Space Mono', monospace;
  }
  .body {
    margin-left: 20vw;
    text-align: center;
  }

  .container {
    margin-left: 20%;
    overflow-y: hidden;
    max-width: 750px;
    max-height: 55vh;
    background: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px var(--tertiary-color);
    display: inline-flex;
  }
  h1 {
    margin-top: 3rem;
    margin-left: 20%;
    margin-bottom: 2rem;
    font-size: 16px;
  }
  .calc {
    margin: auto;
    text-align: left;
    height: 50vh;
  }
  .res {
    color: white;
    padding: 1rem;
    width: 40%;
    max-height: 80vh;
    background: var(--secondary-color);
    border-radius: 10px;
  }
  .info img {
    position: absolute;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  input[type='number'] {
    -moz-appearance: textfield;
    border-style: none;
  }
  .attribution {
    margin-left: 20%;
    font-size: 18px;
    margin-top: 3rem;
  }
  span {
    color: var(--font-primary-color);
  }
  .buttons {
    margin: 1rem 0 1rem 0;
  }
  .inform {
    max-width: 80%;
    text-align: right;
    padding-right: 0.5rem;
  }
  p {
    margin: 2px;
    text-align: left;
  }
  .quebra {
    display: inline-flex;
    color: #bddee3;
    font-size: 14px;
    margin-bottom: 1rem;
  }

  input {
    font-size: 20px;
    border-radius: 4px;
    border: none;
    background: #f3f8fb;
    max-width: 23rem;
    max-height: 2rem;
  }
  #reset {
    border-radius: 4px;
    border: none;
    background: hsl(180, 22%, 50%);
    margin-top: 10vh;
    margin-bottom: auto;
    max-width: 20rem;
    max-width: 30vw;
    max-height: 4rem;
  }
  input.button {
    color: white;
    background: var(--secondary-color);
    border-radius: 4px;
    border: none;
    margin: 5px 5px;
    max-width: 7.5rem;
    max-height: 3rem;
  }
  .valor {
    font-size: 45px;
    float: right;
    font-weight: bold;
  }
  #custom {
    color: #6d8180;
    background: #f3f8fb;
    border-radius: 4px;
    border: none;
    max-width: 6.7rem;
    max-height: 3rem;
  }
}
